# Задание

In [1]:
import pandas as pd
import numpy as np

C:\Users\orlov\AppData\Local\Temp\ipykernel_16824\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Task 1

Узнай самый часто встречаемый возраст респондентов

In [2]:
# Код тут
csv=pd.read_csv("kaggle_survey_2022_responses.csv")
print(len(csv))
name_hapka = csv.iloc[0]
csv.drop(0, inplace=True)
csv['Q2'].mode()
#вывести количество

C:\Users\orlov\AppData\Local\Temp\ipykernel_16824\2456380149.py:2: DtypeWarning: Columns (0,15,43,57,73,88,104,118,126,132,170,200,208,215,225,248,255,257,260,270,271,272,277,281,294) have mixed types. Specify dtype option on import or set low_memory=False.
  csv=pd.read_csv("kaggle_survey_2022_responses.csv")

23998

0    18-21
Name: Q2, dtype: object

## Task 2

Посчитай долю женщин среди русских участников опроса, которые уже не студенты. Результат округли до двух цифр после запятой

In [3]:
# Код тут
russian=csv[csv["Q4"]=="Russia"]
russian_no_student=russian[russian["Q5"]=="No"]
russian_no_student_woman=(russian_no_student["Q3"]=="Woman").mean()
np.round(russian_no_student_woman,2)

0.24

## Task 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до двух знаков после запятой

In [4]:
# Код тут
np.round(csv["Duration (in seconds)"].astype(int).mean()/60,2)

168.17

## Task 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [5]:
csv.head()

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
5,232,45-49,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN

In [6]:
# Код тут
all_Q6 =pd.concat([csv["Q6_1"],csv["Q6_2"],csv["Q6_3"],csv["Q6_4"],csv["Q6_4"]
                  ,csv["Q6_5"]
                  ,csv["Q6_6"]
                  ,csv["Q6_7"]
                  ,csv["Q6_8"]
                  ,csv["Q6_9"]
                  ,csv["Q6_10"]
                  ,csv["Q6_11"]
                  ,csv["Q6_12"]], ignore_index=True)
all_Q6.value_counts().nlargest(3)

Coursera                                                 9699
DataCamp                                                 7436
University Courses (resulting in a university degree)    6780
Name: count, dtype: int64

## Task 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [7]:
# Код тут
all_Q12 =pd.concat([csv["Q12_1"],csv["Q12_2"],csv["Q12_3"],csv["Q12_4"]
                  ,csv["Q12_5"]
                  ,csv["Q12_6"]
                  ,csv["Q12_7"]
                  ,csv["Q12_8"]
                  ,csv["Q12_9"]
                  ,csv["Q12_10"]
                  ,csv["Q12_11"]
                  ,csv["Q12_12"]
                  ,csv["Q12_13"]
                  ,csv["Q12_14"]
                  ,csv["Q12_15"]], ignore_index=True)
all_Q12.value_counts().nlargest(5)

Python    18653
SQL        9620
R          4571
C++        4549
Java       3862
Name: count, dtype: int64

## Task 6

Узнай средний доход среди 'Data Scientist' специалистов и средний доход среди 'Machine Learning/ MLops Engineer' \
Т.к. в колонке Q29 указан промежуток, то возьми среднее значение из промежутка. 

Например: 
- '15,000-19,999' - 17500, 
- '125,000-149,999' - 137500. 
- \> $1,000,000 - оставляем 1000000

Средние доход **округли до целого.**

In [8]:
# Код тут
data_scientist=csv[csv["Q23"]=="Data Scientist"]
machine_learning=csv[csv["Q23"]=="Machine Learning/ MLops Engineer"]
price_data=[]
price_machine=[]
for i in data_scientist["Q29"]:
    try:
        # print(i)
        if i[0]==">":
            i=i.replace(">","")
            i=i.replace("$","")
            price_data.append(float(i.replace(",","")))
        elif i[0]=="$":
            start,end = i.split("-")
            start= start.replace("$","")
            price_data.append((float(start.replace(",",""))+float(end.replace(",","")))/2)
        else:
            start,end = i.split("-")
            price_data.append((float(start.replace(",",""))+float(end.replace(",","")))/2)
    except TypeError:
        pass
for i in machine_learning["Q29"]:
    try:
        # print(i)
        if i[0]==">":
            i=i.replace(">","")
            i=i.replace("$","")
            price_machine.append(float(i.replace(",","")))
        elif i[0]=="$":
            start,end = i.split("-")
            start= start.replace("$","")
            price_machine.append((float(start.replace(",",""))+float(end.replace(",","")))/2)
        else:
            start,end = i.split("-")
            price_machine.append((float(start.replace(",",""))+float(end.replace(",","")))/2)
    except TypeError:
        pass




# print(price_data)
print(len(data_scientist),len(machine_learning))
print(np.round(sum(price_data)/len(price_data),2),np.round(sum(price_machine)/len(machine_learning),2))

[27499.5, 224999.5, 174999.5, 54999.5, 54999.5, 12499.5, 27499.5, 499.5, 4499.5, 137499.5, 54999.5, 4499.5, 3499.5, 84999.5, 174999.5, 3499.5, 499.5, 12499.5, 8749.5, 34999.5, 112499.5, 499.5, 54999.5, 137499.5, 1499.5, 94999.5, 1499.5, 44999.5, 44999.5, 34999.5, 27499.5, 17499.5, 74999.5, 27499.5, 137499.5, 3499.5, 84999.5, 54999.5, 44999.5, 44999.5, 1000000.0, 3499.5, 17499.5, 84999.5, 224999.5, 8749.5, 6249.5, 1499.5, 34999.5, 94999.5, 224999.5, 2499.5, 112499.5, 8749.5, 2499.5, 1499.5, 112499.5, 174999.5, 84999.5, 499.5, 112499.5, 22499.5, 112499.5, 84999.5, 94999.5, 34999.5, 224999.5, 6249.5, 74999.5, 137499.5, 44999.5, 174999.5, 84999.5, 174999.5, 54999.5, 2499.5, 3499.5, 1499.5, 64999.5, 224999.5, 499.5, 44999.5, 1499.5, 112499.5, 54999.5, 112499.5, 22499.5, 12499.5, 84999.5, 8749.5, 34999.5, 17499.5, 112499.5, 54999.5, 137499.5, 54999.5, 3499.5, 34999.5, 17499.5, 27499.5, 94999.5, 64999.5, 399999.5, 224999.5, 34999.5, 499.5, 8749.5, 84999.5, 44999.5, 74999.5, 6249.5, 499.5, 112499.5, 27499.5, 74999.5, 34999.5, 34999.5, 34999.5, 34999.5, 17499.5, 44999.5, 399999.5, 74999.5, 1499.5, 44999.5, 84999.5, 499.5, 174999.5, 174999.5, 499.5, 499.5, 12499.5, 94999.5, 499.5, 2499.5, 174999.5, 44999.5, 274999.5, 74999.5, 12499.5, 174999.5, 12499.5, 34999.5, 74999.5, 499.5, 44999.5, 12499.5, 499.5, 499.5, 499.5, 27499.5, 174999.5, 6249.5, 224999.5, 499.5, 224999.5, 34999.5, 499.5, 84999.5, 2499.5, 54999.5, 112499.5, 499.5, 84999.5, 749999.5, 224999.5, 1499.5, 84999.5, 12499.5, 1000000.0, 54999.5, 112499.5, 34999.5, 44999.5, 44999.5, 44999.5, 44999.5, 137499.5, 12499.5, 34999.5, 12499.5, 137499.5, 4499.5, 4499.5, 17499.5, 1499.5, 6249.5, 12499.5, 2499.5, 74999.5, 54999.5, 64999.5, 224999.5, 12499.5, 6249.5, 174999.5, 399999.5, 12499.5, 54999.5, 54999.5, 112499.5, 54999.5, 112499.5, 64999.5, 4499.5, 137499.5, 499.5, 54999.5, 44999.5, 27499.5, 499.5, 27499.5, 27499.5, 44999.5, 174999.5, 54999.5, 27499.5, 174999.5, 3499.5, 74999.5, 12499.5, 112499.5, 64999.5, 84999.5, 64999.5, 27499.5, 499.5, 112499.5, 22499.5, 64999.5, 499.5, 44999.5, 54999.5, 54999.5, 44999.5, 1499.5, 1499.5, 499.5, 64999.5, 54999.5, 44999.5, 74999.5, 54999.5, 499.5, 174999.5, 1499.5, 137499.5, 2499.5, 27499.5, 54999.5, 3499.5, 137499.5, 84999.5, 137499.5, 74999.5, 1499.5, 44999.5, 499.5, 274999.5, 44999.5, 4499.5, 17499.5, 4499.5, 74999.5, 27499.5, 499.5, 224999.5, 12499.5, 499.5, 44999.5, 112499.5, 54999.5, 174999.5, 94999.5, 22499.5, 54999.5, 499.5, 499.5, 94999.5, 17499.5, 8749.5, 22499.5, 112499.5, 34999.5, 399999.5, 74999.5, 174999.5, 64999.5, 64999.5, 274999.5, 22499.5, 8749.5, 44999.5, 174999.5, 8749.5, 34999.5, 54999.5, 64999.5, 274999.5, 64999.5, 17499.5, 1499.5, 499.5, 112499.5, 1000000.0, 174999.5, 17499.5, 54999.5, 27499.5, 137499.5, 34999.5, 1499.5, 54999.5, 6249.5, 17499.5, 54999.5, 27499.5, 12499.5, 44999.5, 22499.5, 17499.5, 8749.5, 137499.5, 34999.5, 6249.5, 274999.5, 22499.5, 112499.5, 84999.5, 17499.5, 44999.5, 34999.5, 44999.5, 112499.5, 3499.5, 112499.5, 12499.5, 64999.5, 2499.5, 499.5, 8749.5, 1499.5, 44999.5, 64999.5, 112499.5, 44999.5, 224999.5, 17499.5, 44999.5, 22499.5, 74999.5, 12499.5, 3499.5, 17499.5, 112499.5, 1499.5, 112499.5, 74999.5, 3499.5, 499.5, 2499.5, 174999.5, 27499.5, 84999.5, 2499.5, 137499.5, 1499.5, 12499.5, 12499.5, 174999.5, 12499.5, 399999.5, 6249.5, 54999.5, 17499.5, 17499.5, 2499.5, 12499.5, 74999.5, 8749.5, 499.5, 64999.5, 84999.5, 54999.5, 12499.5, 64999.5, 22499.5, 44999.5, 112499.5, 27499.5, 34999.5, 112499.5, 112499.5, 64999.5, 8749.5, 44999.5, 6249.5, 44999.5, 4499.5, 34999.5, 22499.5, 174999.5, 499.5, 22499.5, 399999.5, 112499.5, 499.5, 174999.5, 84999.5, 74999.5, 499.5, 22499.5, 224999.5, 224999.5, 34999.5, 12499.5, 112499.5, 22499.5, 1499.5, 137499.5, 27499.5, 6249.5, 137499.5, 499.5, 499.5, 112499.5, 499.5, 224999.5, 499.5, 174999.5, 174999.5, 54999.5, 84999.5, 34999.5, 499.5, 22499.5, 499.5, 4499.5, 84999.5, 2499.5, 34999.5, 27499.5, 94999.5, 6249.5, 12499.5, 64999.5, 4499.5, 137499.5, 3499.5, 6249.5, 174999.5, 22499.5, 22499.5, 499.5, 12499.5, 749999.5, 6249.5, 224999.5, 1499.5, 112499.5, 64999.5, 12499.5, 64999.5, 112499.5, 499.5, 174999.5, 3499.5, 12499.5, 22499.5, 499.5, 94999.5, 74999.5, 1499.5, 112499.5, 94999.5, 34999.5, 499.5, 174999.5, 12499.5, 54999.5, 112499.5, 1499.5, 224999.5, 174999.5, 34999.5, 6249.5, 137499.5, 6249.5, 34999.5, 84999.5, 1499.5, 94999.5, 2499.5, 12499.5, 1499.5, 8749.5, 499.5, 44999.5, 224999.5, 34999.5, 34999.5, 1499.5, 174999.5, 112499.5, 84999.5, 8749.5, 34999.5, 54999.5, 174999.5, 499.5, 137499.5, 17499.5, 137499.5, 6249.5, 44999.5, 22499.5, 274999.5, 54999.5, 137499.5, 1499.5, 27499.5, 499.5, 64999.5, 499.5, 34999.5, 174999.5, 84999.5, 174999.5, 137499.5, 54999.5, 174999.5, 3499.5, 17499.5, 64999.5, 499.5, 224999.5, 64999.5, 22499.5, 1499.5, 54999.5, 174999.5, 8749.5, 22499.5, 2499.5, 34999.5, 6249.5, 22499.5, 34999.5, 499.5, 8749.5, 44999.5, 44999.5, 8749.5, 8749.5, 224999.5, 399999.5, 44999.5, 54999.5, 174999.5, 1499.5, 22499.5, 499.5, 64999.5, 224999.5, 1499.5, 6249.5, 6249.5, 34999.5, 74999.5, 12499.5, 34999.5, 4499.5, 6249.5, 1499.5, 3499.5, 1499.5, 54999.5, 137499.5, 84999.5, 174999.5, 112499.5, 499.5, 174999.5, 64999.5, 3499.5, 44999.5, 54999.5, 112499.5, 8749.5, 112499.5, 174999.5, 22499.5, 84999.5, 12499.5, 499.5, 64999.5, 12499.5, 74999.5, 499.5, 174999.5, 137499.5, 112499.5, 1499.5, 27499.5, 137499.5, 1499.5, 499.5, 27499.5, 112499.5, 137499.5, 224999.5, 2499.5, 499.5, 224999.5, 44999.5, 499.5, 112499.5, 44999.5, 34999.5, 64999.5, 499.5, 27499.5, 34999.5, 499.5, 27499.5, 64999.5, 64999.5, 112499.5, 1499.5, 499.5, 84999.5, 22499.5, 112499.5, 1499.5, 499.5, 34999.5, 64999.5, 17499.5, 174999.5, 4499.5, 6249.5, 74999.5, 34999.5, 54999.5, 22499.5, 34999.5, 499.5, 4499.5, 137499.5, 112499.5, 44999.5, 22499.5, 174999.5, 34999.5, 112499.5, 94999.5, 4499.5, 499.5, 17499.5, 54999.5, 74999.5, 94999.5, 12499.5, 64999.5, 74999.5, 174999.5, 27499.5, 34999.5, 2499.5, 174999.5, 499.5, 6249.5, 174999.5, 12499.5, 174999.5, 499.5, 1499.5, 44999.5, 112499.5, 8749.5, 6249.5, 34999.5, 54999.5, 44999.5, 174999.5, 112499.5, 44999.5, 12499.5, 3499.5, 499.5, 22499.5, 64999.5, 174999.5, 499.5, 174999.5, 22499.5, 64999.5, 74999.5, 54999.5, 17499.5, 499.5, 44999.5, 174999.5, 1499.5, 174999.5, 174999.5, 12499.5, 174999.5, 84999.5, 27499.5, 54999.5, 27499.5, 499.5, 17499.5, 22499.5, 6249.5, 94999.5, 4499.5, 8749.5, 6249.5, 112499.5, 174999.5, 174999.5, 27499.5, 6249.5, 12499.5, 224999.5, 84999.5, 499.5, 44999.5, 137499.5, 54999.5, 44999.5, 12499.5, 2499.5, 499.5, 112499.5, 54999.5, 1499.5, 137499.5, 27499.5, 34999.5, 12499.5, 1499.5, 74999.5, 499.5, 44999.5, 112499.5, 22499.5, 27499.5, 112499.5, 6249.5, 499.5, 1499.5, 137499.5, 499.5, 44999.5, 6249.5, 12499.5, 1499.5, 44999.5, 1499.5, 1499.5, 1499.5, 274999.5, 64999.5, 2499.5, 12499.5, 27499.5, 224999.5, 64999.5, 94999.5, 137499.5, 94999.5, 64999.5, 84999.5, 499.5, 112499.5, 112499.5, 174999.5, 27499.5, 8749.5, 499.5, 22499.5, 499.5, 84999.5, 44999.5, 112499.5, 499.5, 54999.5, 17499.5, 44999.5, 34999.5, 499.5, 112499.5, 27499.5, 137499.5, 44999.5, 1499.5, 499.5, 3499.5, 6249.5, 1499.5, 74999.5, 4499.5, 174999.5, 3499.5, 94999.5, 74999.5, 274999.5, 499.5, 1499.5, 54999.5, 34999.5, 64999.5, 34999.5, 499.5, 6249.5, 137499.5, 22499.5, 84999.5, 749999.5, 17499.5, 499.5, 137499.5, 749999.5, 34999.5, 44999.5, 27499.5, 54999.5, 17499.5, 94999.5, 6249.5, 84999.5, 224999.5, 34999.5, 12499.5, 499.5, 22499.5, 3499.5, 54999.5, 399999.5, 17499.5, 112499.5, 94999.5, 64999.5, 54999.5, 137499.5, 137499.5, 499.5, 12499.5, 34999.5, 44999.5, 64999.5, 224999.5, 12499.5, 54999.5, 274999.5, 174999.5, 27499.5, 94999.5, 1499.5, 4499.5, 8749.5, 6249.5, 22499.5, 112499.5, 137499.5, 224999.5, 17499.5, 2499.5, 137499.5, 84999.5, 112499.5, 1499.5, 22499.5, 8749.5, 499.5, 499.5, 499.5, 22499.5, 3499.5, 64999.5, 499.5, 499.5, 4499.5, 22499.5, 74999.5, 74999.5, 12499.5, 44999.5, 224999.5, 112499.5, 4499.5, 12499.5, 137499.5, 44999.5, 499.5, 137499.5, 137499.5, 112499.5, 4499.5, 44999.5, 174999.5, 2499.5, 64999.5, 27499.5, 1499.5, 34999.5, 22499.5, 84999.5, 27499.5, 27499.5, 2499.5, 174999.5, 1499.5, 84999.5, 137499.5, 64999.5, 2499.5, 499.5, 174999.5, 499.5, 22499.5, 174999.5, 499.5, 6249.5, 27499.5, 174999.5, 34999.5, 174999.5, 34999.5, 499.5, 34999.5, 224999.5, 1499.5, 112499.5, 6249.5, 17499.5, 1499.5, 34999.5, 64999.5, 499.5, 137499.5, 44999.5, 64999.5, 174999.5, 17499.5, 499.5, 224999.5, 34999.5, 54999.5, 44999.5, 4499.5, 4499.5, 137499.5, 6249.5, 12499.5, 274999.5, 499.5, 44999.5, 34999.5, 112499.5, 12499.5, 1499.5, 499.5, 17499.5, 4499.5, 44999.5, 499.5, 112499.5, 34999.5, 174999.5, 6249.5, 6249.5, 27499.5, 84999.5, 12499.5, 22499.5, 8749.5, 224999.5, 1499.5, 174999.5, 44999.5, 1499.5, 3499.5, 499.5, 17499.5, 74999.5, 2499.5, 84999.5, 1499.5, 64999.5, 274999.5, 34999.5, 399999.5, 274999.5, 12499.5, 64999.5, 499.5, 54999.5, 12499.5, 8749.5, 27499.5, 84999.5, 112499.5, 54999.5, 1000000.0, 34999.5, 8749.5, 12499.5, 44999.5, 1499.5, 137499.5, 137499.5, 44999.5, 34999.5, 8749.5, 1499.5, 84999.5, 499.5, 137499.5, 44999.5, 6249.5, 112499.5, 499.5, 94999.5, 1499.5, 12499.5, 44999.5, 27499.5, 112499.5, 44999.5, 224999.5, 44999.5, 84999.5, 54999.5, 54999.5, 22499.5, 3499.5, 54999.5, 44999.5, 1499.5, 224999.5, 27499.5, 499.5, 44999.5, 44999.5, 499.5, 17499.5, 274999.5, 499.5, 64999.5, 44999.5, 2499.5, 64999.5, 499.5, 12499.5, 44999.5, 34999.5, 1499.5, 174999.5, 44999.5, 17499.5, 112499.5, 34999.5, 94999.5, 74999.5, 112499.5, 499.5, 174999.5, 3499.5, 54999.5, 12499.5, 3499.5, 499.5, 6249.5, 34999.5, 8749.5, 112499.5, 137499.5, 224999.5, 84999.5, 8749.5, 34999.5, 1499.5, 174999.5, 1499.5, 499.5, 54999.5, 137499.5, 174999.5, 12499.5, 174999.5, 174999.5, 54999.5, 54999.5, 34999.5, 34999.5, 22499.5, 499.5, 12499.5, 174999.5, 8749.5, 54999.5, 174999.5, 84999.5, 22499.5, 1499.5, 2499.5, 94999.5, 174999.5, 44999.5, 1499.5, 74999.5, 3499.5, 54999.5, 137499.5, 8749.5, 84999.5, 112499.5, 74999.5, 137499.5, 4499.5, 499.5, 34999.5, 137499.5, 94999.5, 499.5, 224999.5, 1499.5, 12499.5, 44999.5, 499.5, 17499.5, 22499.5, 1499.5, 1499.5, 12499.5, 54999.5, 8749.5, 34999.5, 2499.5, 74999.5, 74999.5, 44999.5, 499.5, 27499.5, 74999.5, 54999.5, 54999.5, 499.5, 274999.5, 174999.5, 224999.5, 499.5, 27499.5, 94999.5, 54999.5, 34999.5, 74999.5, 34999.5, 27499.5, 27499.5, 44999.5, 112499.5, 1499.5, 22499.5, 84999.5, 137499.5, 499.5, 137499.5, 1499.5, 17499.5, 34999.5, 2499.5, 94999.5, 224999.5, 8749.5, 499.5, 12499.5, 174999.5, 112499.5, 94999.5, 44999.5, 137499.5, 34999.5, 137499.5, 224999.5, 27499.5, 224999.5, 27499.5, 112499.5, 174999.5, 2499.5, 6249.5, 44999.5, 8749.5, 12499.5, 12499.5, 54999.5, 224999.5, 137499.5, 44999.5, 64999.5, 112499.5, 44999.5, 12499.5, 94999.5, 22499.5, 174999.5, 1499.5, 224999.5, 174999.5, 224999.5, 1499.5, 6249.5, 12499.5, 224999.5, 34999.5, 12499.5, 137499.5, 44999.5, 112499.5, 399999.5, 499.5, 22499.5, 3499.5, 17499.5, 112499.5, 44999.5, 6249.5, 64999.5, 74999.5, 6249.5, 174999.5, 112499.5, 137499.5, 44999.5, 4499.5, 499.5, 44999.5, 1000000.0, 174999.5, 17499.5, 112499.5, 2499.5, 94999.5, 499.5, 17499.5, 1499.5, 12499.5, 224999.5, 112499.5, 4499.5, 64999.5, 44999.5, 8749.5, 22499.5, 54999.5, 12499.5, 34999.5, 12499.5, 34999.5, 174999.5, 174999.5, 17499.5, 34999.5, 174999.5, 8749.5, 64999.5, 74999.5, 499.5, 44999.5, 64999.5, 64999.5, 1000000.0, 2499.5, 12499.5, 84999.5, 54999.5, 224999.5, 17499.5, 6249.5, 94999.5, 3499.5, 274999.5, 22499.5, 224999.5, 499.5, 224999.5, 27499.5, 44999.5, 6249.5, 22499.5, 44999.5, 54999.5, 44999.5, 64999.5, 34999.5, 499.5, 174999.5, 224999.5, 174999.5, 34999.5, 22499.5, 12499.5, 112499.5, 174999.5, 112499.5, 54999.5, 137499.5, 8749.5, 112499.5, 174999.5, 399999.5, 112499.5, 499.5, 4499.5, 112499.5, 44999.5, 174999.5, 8749.5, 174999.5, 34999.5, 22499.5, 74999.5, 749999.5, 137499.5, 274999.5, 17499.5, 22499.5, 12499.5, 34999.5, 112499.5, 112499.5, 137499.5, 2499.5, 44999.5, 74999.5, 27499.5, 34999.5, 44999.5, 137499.5, 137499.5, 112499.5, 499.5, 44999.5, 17499.5, 64999.5, 74999.5, 44999.5, 17499.5, 27499.5, 112499.5, 112499.5, 94999.5, 1499.5, 137499.5, 22499.5, 84999.5, 64999.5, 27499.5, 112499.5, 74999.5, 499.5, 224999.5, 137499.5, 34999.5, 112499.5, 6249.5, 399999.5, 12499.5, 17499.5, 27499.5, 12499.5, 64999.5, 34999.5, 12499.5, 94999.5, 112499.5, 34999.5, 84999.5, 137499.5, 27499.5, 12499.5, 12499.5, 749999.5, 1499.5, 44999.5, 54999.5, 64999.5, 499.5, 4499.5, 499.5, 8749.5, 174999.5, 4499.5, 12499.5, 1499.5, 1499.5, 44999.5, 224999.5, 224999.5, 224999.5, 74999.5, 274999.5, 84999.5, 112499.5, 94999.5, 6249.5, 499.5, 34999.5, 84999.5, 6249.5, 174999.5, 112499.5, 174999.5, 44999.5, 6249.5, 112499.5, 34999.5, 17499.5, 12499.5, 137499.5, 112499.5, 137499.5, 27499.5, 3499.5, 12499.5, 499.5, 224999.5, 54999.5, 74999.5, 6249.5, 54999.5, 499.5, 499.5, 174999.5, 44999.5, 12499.5, 54999.5, 224999.5, 74999.5, 499.5, 27499.5, 34999.5, 12499.5, 64999.5, 174999.5, 749999.5, 174999.5, 137499.5, 499.5, 12499.5, 34999.5, 174999.5, 112499.5, 137499.5, 174999.5, 12499.5, 137499.5, 137499.5, 44999.5, 12499.5, 499.5, 54999.5, 74999.5, 499.5, 54999.5, 224999.5, 44999.5, 1499.5, 1499.5, 499.5, 34999.5, 137499.5, 2499.5, 4499.5, 112499.5, 499.5, 27499.5, 34999.5, 8749.5, 34999.5, 4499.5, 2499.5, 8749.5, 84999.5, 137499.5, 84999.5, 94999.5, 112499.5, 499.5, 112499.5, 137499.5, 6249.5, 137499.5, 54999.5, 224999.5, 3499.5, 54999.5, 8749.5, 4499.5, 112499.5, 12499.5, 174999.5, 224999.5, 17499.5, 112499.5, 12499.5, 4499.5, 54999.5, 499.5, 499.5, 12499.5, 174999.5, 499.5, 74999.5, 84999.5, 44999.5, 94999.5, 1499.5, 12499.5, 6249.5, 274999.5, 137499.5, 54999.5, 12499.5, 64999.5, 64999.5, 499.5, 112499.5, 174999.5, 22499.5, 2499.5, 137499.5, 2499.5, 44999.5, 54999.5, 34999.5, 4499.5, 499.5, 84999.5, 399999.5, 84999.5, 54999.5, 22499.5, 34999.5, 44999.5, 44999.5, 499.5, 54999.5, 137499.5, 4499.5, 499.5, 12499.5, 499.5, 54999.5, 499.5, 1499.5, 4499.5, 94999.5, 27499.5, 4499.5, 499.5, 44999.5, 112499.5, 1499.5, 174999.5, 499.5, 4499.5, 174999.5, 1000000.0, 12499.5, 4499.5, 174999.5, 22499.5, 74999.5, 6249.5, 22499.5, 44999.5, 22499.5, 1499.5, 499.5, 112499.5, 74999.5, 174999.5, 137499.5, 74999.5, 2499.5, 399999.5, 224999.5, 64999.5, 64999.5, 6249.5, 64999.5, 44999.5, 64999.5, 112499.5, 274999.5, 1499.5, 12499.5, 64999.5, 112499.5, 17499.5, 499.5, 274999.5, 17499.5, 74999.5, 17499.5, 137499.5, 44999.5, 74999.5, 499.5, 499.5, 3499.5, 12499.5, 12499.5, 137499.5, 3499.5, 224999.5, 64999.5, 174999.5, 22499.5, 27499.5, 74999.5, 27499.5, 54999.5, 54999.5, 34999.5, 4499.5, 499.5, 112499.5, 22499.5, 54999.5, 74999.5, 34999.5, 54999.5, 12499.5, 3499.5, 1499.5, 74999.5, 399999.5, 94999.5, 137499.5, 137499.5, 12499.5, 74999.5, 44999.5, 174999.5, 137499.5, 27499.5, 8749.5, 44999.5, 22499.5, 112499.5, 44999.5, 74999.5, 54999.5, 3499.5, 137499.5, 64999.5, 44999.5, 27499.5, 44999.5, 174999.5, 17499.5, 22499.5, 224999.5, 12499.5, 12499.5, 6249.5, 174999.5, 1499.5, 54999.5, 17499.5, 274999.5, 84999.5, 137499.5, 54999.5, 174999.5, 27499.5, 499.5, 2499.5, 27499.5, 137499.5, 499.5, 22499.5, 112499.5, 112499.5, 499.5, 12499.5, 74999.5, 174999.5, 499.5, 84999.5, 64999.5, 1499.5, 44999.5, 17499.5, 64999.5, 22499.5, 12499.5, 1499.5, 34999.5, 1499.5, 2499.5]
1929 571
70336.74 59760.51

## Дополнительно

Найди какой-нибудь интересный инсайт из этих данных.

In [12]:
# Код тут